#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem  2rem;
    background-color: #121212;
}

#navbar h2 a {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#navbar form {
    display: flex;
    gap: 0.5rem ;
    
}

#navbar input {
    background-color: rgb(79, 79, 92);
    color: white;

    padding: .2rem .8rem;
    border-radius: 4px;
    border: none;

    height: 2rem;
    width: 12rem;
}

#navbar form button {
    background-color: rgb(79, 79, 92);
    border: rgb(79, 79, 92);
    border-radius: 4px;
    color: rgb(0, 0, 0);
    padding: 0.3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

#navbar form button:hover {
    background-color: transparent;
    color: rgb(79, 79, 92);
    border: 1px solid rgb(79, 79, 92);
}

@media (max-width: 600px) {
    .icone {
        display: none;
    }

    nav.navbarRespo h2.logo .link,
    nav.navbarRespo h2.logo span { 
        width: 100%;
        height: 3.1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.0rem;
    }

    nav.navbarRespo h2.logo .link{
        color: red;
    }

    nav.navbarRespo h2.logo span {
        color: white;
        border-bottom: 2px solid red;
        
    }

    nav.navbarRespo h2.logo {
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

   
    form {
        max-width: 450px;
        width: 50%;
        display: flex;
        margin-right: 2rem;
    }
}
